# Ignore old/experimental scraper scripts
scrape_properties.py
scrape_playwright_stealth.py
scrape_playwright_nextdata.py
scrape_playwright_direct.py

# Virtual Environment & Python cache
venv/
__pycache__/
*.pyc
riyadh_raw_listings.csv